# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Builds
dist/
coverage/
.cache/

# Env & creds
.env
.env.*        # evita .env.local, .env.production, etc.
!.env.example # si algún día decides publicar un ejemplo

# Logs
logs/
*.log

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Dumps
*.sql
*.sqlite
dump/
